<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Skeleton App</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1> Bienvenido</h1>
  <h2> Usuario: {{ usuario }}</h2>
  <h3>Información adicional</h3>

  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre: </ion-label>
      <ion-input lebel="Nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido: </ion-label>
      <ion-input lebel="Apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select aria-label="Nivel educacion" interface="action-sheet" placeholder="Nivel Educación">
        <ion-select-option value="apples">Primaria</ion-select-option>
        <ion-select-option value="apples">Secundaria</ion-select-option>
        <ion-select-option value="apples">Universitaria</ion-select-option>

      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de nacimiento: </ion-label>
      <ion-datetime presentation="date"></ion-datetime>
    </ion-item>
  </ion-list>

</ion-content>